*{
    margin: 0;
    padding: 0;
}
/* // utils.css  */
.text{
    text-align: center;
}
.bg-red{
    background: red;
}
.mx-auto{
    margin: auto;
}
.m-w-20{
    max-width: 30vw;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}



/* // style.css */
html,body{
    height: 100%;
    width: 100%;
}
.button{
    padding: 20px;
    cursor: pointer;
    width: 58px;
    margin: 0 3px;
    border-radius: 9px;
    border: 2px solid black;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 22px;
    margin: 2px;
    padding: 10px 2px;
    border: 2px solid black;
    border-radius: 5px;
}


.text{
    margin-top: 40px;
}




.button {
    font-size: 20px;
    padding: 15px;
    width: 60px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: skyblue;
    color: #fff;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e53935;
}

.button:active {
background-color: thistle;
}

body{
  background-image: url("https://as1.ftcdn.net/v2/jpg/06/21/25/92/1000_F_621259213_LYBEjxigssrZi7e1xTFtYZdw3T9it1An.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}